<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <!-- Add your CSS styles here if needed -->
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>

<!-- Header with Add Client Button -->
<header>
    <div class="logo-container">
        <!-- Logo -->
        <img src="logo.png" alt="Logo" class="logo">
        <!-- Company Name -->
        <h1>Business Insights</h1>
    </div>
    <div class="button-container">
        <button class="top-right-button" onclick="navigateToAddClient()">Add Client</button>

        <script>
            function navigateToAddClient() {
                window.location.href = '/addnewclient';
            }
        </script>

    </div>
</header>

<!-- Sidebar -->
<aside>
    <h2>Clients</h2>
    <ul>
        <!-- Iterate over clients and make each client a clickable link -->
        <li th:each="client : ${clients}">
            <a th:href="'/client/directors/' + ${client.getCompanyName}" th:text="${client.getCompanyName}"></a>
        </li>
    </ul>
</aside>

<!-- Directors List -->
<div>
    <h2>Directors List</h2>
    <ul>
        <!-- Iterate over directors and display their names and completion status -->
        <li th:each="director : ${directors}">
            <span th:text="${director.name}"></span>
            <span th:text="${director.isTestDone ? 'Complete' : 'Incomplete'}"></span>
            <!-- Show the "Send Question" button for incomplete tests -->
            <button th:if="${!director.isTestDone}" type="submit" formaction="/email.action" formmethod="post" th:id="${director.email}">Send Question</button>
        </li>
    </ul>
</div>

</body>
</html>
