<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

    <!-- Add your CSS styles here if needed -->
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>

<!-- Header with Add Client Button -->
<header>
    <div class="logo-container">
        <!-- Logo -->
        <img src="logo.png" alt="Logo" class="logo">
        <!-- Company Name -->
        <h1>Business Insights</h1>
    </div>
    <div class="button-container">
        <button class="top-right-button" onclick="navigateToAddClient()">Add Client</button>

        <script>
            function navigateToAddClient() {
                window.location.href = '/addnewclient';
            }
        </script>

    </div>
</header>

<!-- Sidebar -->
<aside>
    <h2>Clients</h2>
    <ul>
        <!-- Iterate over clients and make each client a clickable link -->
        <li th:each="client : ${clients}">
            <a href="#" th:data-name="${client.getCompanyName}" th:onclick="showDirectors(this.getAttribute('data-name'))" th:text="${client.getCompanyName}"></a>
        </li>
    </ul>
</aside>

<!-- Directors List -->
<div id="directorsList" style="display: none;">
    <h2>Directors List</h2>
    <ul>
        <!-- Directors will be displayed here using JavaScript -->
    </ul>
</div>

<!-- JavaScript to toggle visibility and display directors -->
<script th:inline="javascript">
    function showDirectors(directorsList) {
    // Build HTML for directors
    console.log(directorsList);
    fetch("http://localhost:7000/client/directors/" + directorsList)
        .then(data => data.json())
        .then(x => {
            var directorsHtml = "<form method='post' action='/email.action'>";

            for (let i = 0; i < x.length; i++) {
                console.log(x);
                console.log(x[i].name);
                directorsHtml += '<li>';
                directorsHtml += `<span>${x[i].name}&nbsp;</span>`;
                directorsHtml += `<span>${x[i].isTestDone ? 'Complete' : 'Incomplete'}&nbsp;</span>`;
                directorsHtml += `<input type="hidden" name="email" value="${x[i].email}">`;
                directorsHtml += `<input value="SEND QUESTION" ${!x[i].isTestDone ? 'type="submit"' : 'type="button" disabled="disabled"'}>`;
                directorsHtml += '</li>';
            }
            directorsHtml += `</form>`;
            document.getElementById('directorsList').innerHTML = directorsHtml;
            document.getElementById('directorsList').style.display = 'block';
        });
}

</script>

</body>
</html>
